:root[data-theme='light'] {
  --color-bg: #fff;
  --color-border: #000;
  --color-text: #000;
}

:root[data-theme='dark'] * {
  --color-bg: #333;
  --color-border: #ccc;
  --color-text: #fff;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
