.wrapper {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 200px;
  padding: 8px 12px;
  border-right: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.content {
  padding: 8px 12px;
}
